%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Meta:
  = @product.meta
%p
  %b Desc:
  = @product.desc
%p
  %b Price:
  = @product.price
%p
  %b State:
  = @product.state
%p
  %b Inventory:
  = @product.inventory

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
